<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IAM Platform</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/project_razor.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">IAM Platform</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/Users/Index">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/Roles/Index">Roles</a>
                                </li>
                            }

                            @if (User.IsInRole("developer"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/OauthClients/Index">Applications</a>
                                </li>
                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <span class="navbar-text me-2">Welcome, @User.Identity.Name</span>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Tokens/Index">Active Sessions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Users/MyProfile">Your Profile</a>
                            </li>
                            <li class="nav-item d-flex align-items-center">
                                <a asp-page="/Auth/Logout" class="nav-link text-dark">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"><a asp-page="/Auth/Login" class="nav-link text-dark">Login</a></li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <main role="main" class="container flex-grow-1 mt-3 pb-3">
        @RenderBody()
    </main>

    <footer class="border-top text-muted py-3">
        <div class="container">
            &copy; 2025 - Colac Catalin-Ionut - IAM Platform
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
